/* General Styles */
h2 {
  text-align: center;
  margin: 15px;
}

.center {
  margin: auto;
  padding: auto;
  text-align: center;
}

.container {
  box-sizing: border-box;
  border: 1px solid black;
  background-color: #ffcc99;
  padding: auto;
  height: 200px;
  float: left;
  position: relative;
  margin-left: 2.5%;
  margin-bottom: 15px;
}

.subject {
  position: absolute;
  right: 0;
  padding: auto;
  border: 1px solid black;
  width: 100px;
  height: auto;
}

#sushi {
  background-color: #cceeff;
}

#burgs {
  background-color: #a64dff;
  color: white;
}

#kebs {
  background-color: #ccff99;
}

p {
  margin-top: 75px;
  padding: 7px;
}

/* Select Styles - Desktop */
@media (min-width: 992px) {
  .desk {
    width: 30%;
  }
  
}

/* Select Styles - Tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .tab-6 {
    width: 40%;
  }
  
  .tab-12 {
    width: 82.5%;
  }
}

/* Select Styles - Mobile */
@media (max-width: 767px) {
  .mob {
    width: 82.5%;
  }
}